In [10]:
import pandas as pd
import numpy as np
print('Libraries Imported!')

Libraries Imported!

In [12]:
## Original Data file link - https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i

## Load downloaded file to a pandas dataframe
crime_data = pd.read_csv("NYPD_Complaint_Data_Historic.csv")

In [13]:
## To display all columns 
from IPython.display import display
pd.set_option('display.max_columns', None)

## View first 10 rows
crime_data.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,JURIS_DESC,JURISDICTION_CODE,PARKS_NM,HADEVELOPT,HOUSING_PSA,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,522575447,08/29/2006,13:00:00,NaN,NaN,43.0,08/30/2006,578,HARRASSMENT 2,638.0,"HARASSMENT,SUBD 3,4,5",COMPLETED,VIOLATION,BRONX,INSIDE,RESIDENCE - APT. HOUSE,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,1018029.0,240747.0,NaN,UNKNOWN,M,NaN,40.827414,-73.877946,"(40.827414051, -73.877945775)",PATROL BORO BRONX,NaN,25-44,BLACK HISPANIC,F
1,403507361,11/05/2006,11:00:00,11/05/2006,17:40:00,66.0,11/05/2006,107,BURGLARY,221.0,"BURGLARY,RESIDENCE,DAY",COMPLETED,FELONY,BROOKLYN,INSIDE,RESIDENCE - APT. HOUSE,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,982556.0,171385.0,NaN,NaN,NaN,NaN,40.637097,-74.006105,"(40.637096864, -74.006105014)",PATROL BORO BKLYN SOUTH,NaN,45-64,ASIAN / PACIFIC ISLANDER,F
2,631420068,09/08/2006,23:30:00,09/09/2006,00:01:00,106.0,09/09/2006,347,INTOXICATED & IMPAIRED DRIVING,905.0,"INTOXICATED DRIVING,ALCOHOL",COMPLETED,MISDEMEANOR,QUEENS,FRONT OF,STREET,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,1028213.0,186786.0,NaN,NaN,NaN,NaN,40.679260,-73.841500,"(40.679260229, -73.841500185)",PATROL BORO QUEENS SOUTH,NaN,NaN,UNKNOWN,E
3,995609899,12/13/2011,18:40:00,12/13/2011,18:49:00,79.0,12/13/2011,341,PETIT LARCENY,333.0,"LARCENY,PETIT FROM STORE-SHOPL",COMPLETED,MISDEMEANOR,BROOKLYN,INSIDE,CHAIN STORE,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,1000788.0,189718.0,NaN,NaN,NaN,NaN,40.687402,-73.940369,"(40.687401619, -73.940369194)",PATROL BORO BKLYN NORTH,NaN,NaN,UNKNOWN,D
4,480667624,08/14/2009,04:20:00,NaN,NaN,30.0,08/14/2009,113,FORGERY,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,FELONY,MANHATTAN,NaN,STREET,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,1000029.0,242245.0,NaN,NaN,NaN,NaN,40.831576,-73.942983,"(40.831576128, -73.942982699)",PATROL BORO MAN NORTH,NaN,NaN,UNKNOWN,E

In [15]:
## Just to get a rough idea, let's check the number of rows in this dataset
## Note: This contains historic data from year 2006 
crime_data.shape

(7309655, 35)

In [16]:
## View all column names 
crime_data.columns

Index(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'ADDR_PCT_CD', 'RPT_DT', 'KY_CD', 'OFNS_DESC', 'PD_CD',
       'PD_DESC', 'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM',
       'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'JURIS_DESC', 'JURISDICTION_CODE',
       'PARKS_NM', 'HADEVELOPT', 'HOUSING_PSA', 'X_COORD_CD', 'Y_COORD_CD',
       'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT',
       'Latitude', 'Longitude', 'Lat_Lon', 'PATROL_BORO', 'STATION_NAME',
       'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX'],
      dtype='object')

In [17]:
## Create a list of cloumns to drop
old_columns = crime_data.columns 

new_df_columns =  ['CMPLNT_NUM', 'CMPLNT_FR_DT', 'OFNS_DESC','CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM', 'X_COORD_CD', 'Y_COORD_CD','Latitude', 'Longitude', 'Lat_Lon', 'STATION_NAME']

drop_columns = [item for item in old_columns if item not in new_df_columns]

drop_columns

['CMPLNT_FR_TM',
 'CMPLNT_TO_DT',
 'CMPLNT_TO_TM',
 'ADDR_PCT_CD',
 'RPT_DT',
 'KY_CD',
 'PD_CD',
 'PD_DESC',
 'LOC_OF_OCCUR_DESC',
 'PREM_TYP_DESC',
 'JURIS_DESC',
 'JURISDICTION_CODE',
 'PARKS_NM',
 'HADEVELOPT',
 'HOUSING_PSA',
 'SUSP_AGE_GROUP',
 'SUSP_RACE',
 'SUSP_SEX',
 'TRANSIT_DISTRICT',
 'PATROL_BORO',
 'VIC_AGE_GROUP',
 'VIC_RACE',
 'VIC_SEX']

In [18]:
## Drop unnecessary columns
clean_crime_data = crime_data.drop(drop_columns, axis=1)

In [19]:
clean_crime_data.shape ## Reduced columns from 35 to 12

(7309655, 12)

In [20]:
## Drop NaN rows
clean_crime_data = clean_crime_data.dropna()

In [21]:
clean_crime_data.shape

(153967, 12)

In [23]:
## Filtering out only for 2019
clean_crime_data = clean_crime_data[clean_crime_data['CMPLNT_FR_DT'].str.contains("2019") == True]

In [24]:
clean_crime_data.shape

(12406, 12)

In [32]:
clean_crime_data.head()

,CMPLNT_NUM,CMPLNT_FR_DT,OFNS_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,STATION_NAME
3489167,730889540,12/26/2019,FORGERY,COMPLETED,FELONY,BROOKLYN,987772.0,191476.0,40.692242,-73.987301,"(40.69224167400005, -73.987300996)",JAY STREET-BOROUGH HALL
3489255,606107651,12/29/2019,ROBBERY,COMPLETED,FELONY,BRONX,1020937.0,254605.0,40.865439,-73.867362,"(40.86543854800004, -73.86736232099996)",ALLERTON AVENUE
3489277,522961469,12/27/2019,PETIT LARCENY,COMPLETED,MISDEMEANOR,MANHATTAN,988757.0,216332.0,40.760465,-73.983732,"(40.760464910000046, -73.98373241099996)",49 STREET
3489340,860501657,12/26/2019,FORGERY,COMPLETED,FELONY,BRONX,1011485.0,237929.0,40.819702,-73.901603,"(40.819702045000035, -73.90160301699996)",PROSPECT AVENUE
3489398,249535524,12/26/2019,GRAND LARCENY,COMPLETED,FELONY,MANHATTAN,990886.0,213048.0,40.751450,-73.976051,"(40.751449824000076, -73.97605054499998)",42 ST.-GRAND CENTRAL

In [31]:
clean_crime_data.to_csv('nyc_crime_2019_clean.csv')
print('Exported clean data to CSV file')

Exported clean data to CSV file